@import "tailwindcss";

/* theme override */
@theme {
  --text-xxs: 10px;
  --shadow-bottom: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
  --shadow-top: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-white opacity-100;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-violet-600;
}

.bottom-fixed {
  @apply shadow-top fixed bottom-0 left-0 w-full items-center justify-center bg-white p-6;
}

@layer utilities {
  .container {
    max-width: none;
    padding: 72px 20px 120px;
  }
}

/* 
@utility button {
  @apply 
}
*/